:root{
    --bs-font-sans-serif:"Roboto", var(--bs-font-sans-serif);
    --bs-blue: #c3dac8;
    --bs-primary: #f52e20;
}

h1, h2, h3, h4, h5, h6{
    font-family:'Inter', sans-serif;
    font-weight:600 ;
}